<div class="space" id="cards">
    <% @cards.each do |card| %>
        <div class="h-center card">
            <%# TODO replace placeholder for cloudinary image upload %>
            <img src="http://via.placeholder.com/120x180" alt="placeholder image">
            <div style="text-align: center;">
            <% if card.condition %>
                <span class="<%= card.condition.downcase %> small-text"><%= card.condition %> &nbsp;&nbsp;</span>
            <% end %>
                <span><%= link_to card.name, card_path(card) %></span>
            </div>
            <p>$<%= '%.2f' % card.price %></p>
        </div>
    <% end %>
</div>