<div class="h-center">
    <img src="http://via.placeholder.com/173x260" alt="placeholder image">
</div>
<div class="h-center">
    <h1> <%= @card.name %> </h1>
    <p>Condition: <%= @card.condition %></p>
    <p>Price: $<%= @card.price %> </p>
    <p>Listed by: <%= @card.user.email %>
</div>


    